.login .van-field__left-icon,.register .van-field__left-icon,.platformFour .van-field__left-icon{
    margin-right: .2rem;
    color: #fe4a0f;
}
.platformFour .active .van-field__right-icon{
    color: #fe4a0f;
}
.login .van-button,.register .input > .van-button{
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: .6rem;
    border-radius: .44rem;
    box-shadow: 0 0 .1rem #fe4a0f;
}
.user .van-grid-item__content{
    padding:.16rem;
}
.user .van-grid{
    padding: .16rem 0;
    background-color: #fff;
}
.user .van-grid-item__content::after{
    border: none;
}
.agent  .van-tabs__nav--card,.Record  .van-tabs__nav--card{
    margin: 0;
}
.bindBankCard .van-cell-group .van-cell:last-child:after{
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    right: 0;
    bottom: 0;
    left: 16px;
    border-bottom: 1px solid #ebedf0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.SharingApplication .van-field__left-icon{
    margin-right: .2rem;
}
.SharingApplication .van-field__left-icon i{
    font-size: .36rem;
}
.slotImg{
    width: 1.6rem;
    height: .8rem;
}
